_build
_static
data
media
*.gpkg
*.parquet
*.shp
scripts/rep_espacial/01_preprocessamento/inputs/
scripts/rep_espacial/01_preprocessamento/outputs/
scripts/rep_espacial/02_distancia_vias_e_ind/inputs/
scripts/rep_espacial/02_distancia_vias_e_ind/outputs/
scripts/rep_espacial/03_prep_tabelas_ref/inputs/
scripts/rep_espacial/03_prep_tabelas_ref/outputs/
scripts/rep_espacial/04_add_tabelas_ref/inputs/
scripts/rep_espacial/04_add_tabelas_ref/outputs/
scripts/rep_espacial/05_verif_vias_e_limites/inputs/
scripts/rep_espacial/05_verif_vias_e_limites/outputs/
scripts/rep_espacial/06_verif_classes_validas/inputs/
scripts/rep_espacial/06_verif_classes_validas/outputs/
scripts/rep_espacial/07_classificar_rep_espacial/inputs/
scripts/rep_espacial/07_classificar_rep_espacial/outputs/
scripts/rep_espacial/08_criar_buffers/inputs/
scripts/rep_espacial/08_criar_buffers/outputs/
scripts/rep_espacial/09_formatar_e_salvar_outputs/inputs/
scripts/rep_espacial/09_formatar_e_salvar_outputs/outputs/
